body {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 15px 0 0px;
    /* border: 1px solid red; */
    font-size: 36px;
    color: rgb(83, 255, 106);
}

.loading {
    font-size: 30px;
}

.character-main {
    margin-top: 20px;
    width: 85vw;
    max-width: 1320px;
    height: 90vh;
    border: 3px solid rgb(111, 113, 136);
    border-radius: 0 0 30px 30px;
    background: rgba(29,28,54,1);
    display: flex;
    justify-content: center;
}

.character-table {
    display: flex;
    flex-direction: column;
}

.character-details {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5vh;
    /* border: 1px solid red; */
}

.character-details-m {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    width: 100%;

}

.character-details-col {
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pagination-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.pagination-buttons button {
    width: 15vw;
    margin: 0 50px;
    font-size: large;
}

tbody tr:hover {
    background: rgb(121, 111, 255);
    cursor: pointer;
}

th {
    border-bottom: 1px solid rgb(196, 196, 196);
}

table {
    width: 80vw;
    border: 3px solid rgb(221, 221, 221);
    background: rgb(73, 72, 122);
    border-radius: 30px;
    font-size: 2vw;
    border-collapse: separate;
    border-spacing: 0px 4px;
    overflow: hidden;
    max-width: 1240px;
}

@media all and (max-width: 699px) and (min-width: 300px) {
    table {
        font-size: 14px;
    }

    button {
        width: 150px;
        height: 50px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-size: 30px;
        
    }
}

@media (min-width: 1024px) {
    table {
        font-size: 20px;
    }

    h2 {
        font-size: 50px;
    }
    
}